body {
	padding-top: 41px;
}

#config-system-config {
	font-family: monospace;
	word-wrap: break-word;
}

.btn{
	margin-bottom: 10px;
}


.tabs-container{
	position: fixed;
	width: 100%;
	background-color: #fff;
	height:41px;
	top: 0;
}

@media (max-width: 376px) {
	.tabs-container li {
		width: 80px;
		font-size: 10px;

	}

	.tabs-container li a {
		padding: 10px 5px;
		text-align: center;
	}
}


html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}